.container-fluid{
    height:88vh;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.login-panel{
    text-align: center;
    border: 15px solid #062E5D;
    padding: 15px;
    border-radius: 20px;
}
.login-header{
    color:grey;
    font-size: 18px;
    font-weight: bold;
}

.login-position{
    top:20%;
    position: relative;
}

.mat-form-field, button{
    width: -webkit-fill-available;
}

mat-icon{
    vertical-align: middle;
}