<br>
<nav id="subNavbar" class="mb-4">
    <ul class="nav nav-default" style="position: static;">
        <li class="active"><a style="background: #007bff;">Home</a>
        </li>
        <li><a>Custom</a>
        </li>

    </ul>
</nav>

<div class="dashboard-body p-2">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <h3>Current Version is 12.2. You can visit links below</h3>
        </div>
    </div>
    <hr>


    <div class="row lap-view-padding pt-2">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel about">
                <div class="panel-heading">
                    <div class="panel-title">About</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="http://api.zentao.pm/goto.php?item=proversion&amp;from=about" id="proversion"
                                target="_blank">ZenTao Pro</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=official&amp;from=about" id="official"
                                target="_blank">Official Website</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=changelog&amp;from=about" id="changelog"
                                target="_blank">Change Log</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=license&amp;from=about" id="license"
                                target="_blank">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel support">
                <div class="panel-heading">
                    <div class="panel-title">Support</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="http://api.zentao.pm/goto.php?item=vip&amp;from=about" id="vip" target="_blank">VIP
                                Support</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=manual&amp;from=about" id="manual"
                                target="_blank">User Manual</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel cowin">
                <div class="panel-heading">
                    <div class="panel-title">Help Us</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="http://api.zentao.pm/goto.php?item=reportbug&amp;from=about" id="reportbug"
                                target="_blank">Report Bug </a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=feedback&amp;from=about" id="feedback"
                                target="_blank">Feedback</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=translate&amp;from=about" id="translate"
                                target="_blank">Translate</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=recommend&amp;from=about" id="recommend"
                                target="_blank">More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel service">
                <div class="panel-heading">
                    <div class="panel-title">Service</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="http://api.zentao.pm/goto.php?item=zentaotrain&amp;from=about" id="zentaotrain"
                                target="_blank">Zentao Training</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=idc&amp;from=about" id="idc"
                                target="_blank">Zentao Cloud</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=custom&amp;from=about" id="custom"
                                target="_blank">Zentao Custom</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=servicemore&amp;from=about" id="servicemore"
                                target="_blank">More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel others">
                <div class="panel-heading">
                    <div class="panel-title">Other Products</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="http://api.zentao.pm/goto.php?item=chanzhi&amp;from=about" id="chanzhi"
                                target="_blank"><mat-icon>event_note</mat-icon>
                                Zsite</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=ranzhi&amp;from=about" id="ranzhi"
                                target="_blank"><mat-icon>event_note</mat-icon>Zdoo</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=ydisk&amp;from=about" id="ydisk"
                                target="_blank"><mat-icon>event_note</mat-icon>Y Disk</a>
                        </li>
                        <li><a href="http://api.zentao.pm/goto.php?item=meshiot&amp;from=about" id="meshiot"
                                target="_blank"><mat-icon>event_note</mat-icon>MeshioT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>