<br>
<nav id="subNavbar" class="mb-4">
    <ul class="nav nav-default" style="position: static;">
        <li><a class="active" style="background: #007bff;">Home</a>
        </li>
        <li><a>Schedule</a>
        </li>
        <li class="divider"></li>
        <li><a>Task</a>
        </li>
        <li ><a>Bug</a>
        </li>
        <li ><a>Request</a>
        </li>
        <li><a>Story</a>
        </li>
        <li class="divider"></li>
        <li  data-id="myProject"><a>Iteration</a>
        </li>
        <li  data-id="dynamic"><a>Dynamics</a>
        </li>
        <li class="divider"></li>
        <li  data-id="profile"><a>Profile</a>
        </li>
        <li  data-id="manageContacts"><a>Contact</a>
        </li>
    </ul>
</nav>

<div class="dashboard-body p-3">
    <div class="row mt-4 ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-12">
            <div class="status-monitoring-table">
                <div class="row p-4">
                    <!-- stepper div start -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 welcome-stepper-div">
                        <div class="row">
                            <div class="col-12">
                                <div class="welcome-msg">Good Afternoon, Demo</div>
                            </div>
                            <div class="col-12">
                                <app-mat-welcome-stepper></app-mat-welcome-stepper>
                            </div>
                        </div>
                    </div>
                    <!-- stepper-div-end -->

                    <!-- monitoring numbers start -->
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-12 col-12 date">2020/12/04</div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-9 col-9 remined-text">Remined work</div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-1 col-1 remined-text">
                                <button mat-button [matMenuTriggerFor]="mainDropdown">
                                    <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                                </button>
                                <mat-menu #mainDropdown="matMenu">
                                    <button mat-menu-item>Refresh</button>
                                    <button mat-menu-item>Edit</button>
                                    <button mat-menu-item>Hide</button>
                                    <button mat-menu-item>Add Block</button>
                                    <button mat-menu-item>Reset Layout</button>
                                </mat-menu>


                            </div>
                        </div>
                        <div class="numbers">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 pb-4">My tasks</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 pb-4">My tasks</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 pb-4">My tasks</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 pb-4">My tasks</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 pb-4">My tasks</div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 welcome-div-num cursor">61</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 welcome-div-num cursor">38</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 welcome-div-num cursor">59</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 welcome-div-num cursor">17</div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2 col-sm-2 welcome-div-num cursor">11</div>
                            </div>
                        </div>
                    </div>
                    <!-- monitoring numbers end -->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="status-monitoring-table">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="task-history-header">最新动态</div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 more-icon">
                        <button  style="margin-left: -15px; margin-top: 8px;" mat-button [matMenuTriggerFor]="mainDropdown">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-4">
                    <!-- task history stepper start -->

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 fixed-task-stepper">
                        <app-mat-stepperlogin-history></app-mat-stepperlogin-history>
                    </div>
                    <!-- task history stepper end -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <!-- buttons row -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-12">
            <div class="status-monitoring-table">
                <div class="row pt-1">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 task-history-header">
                        流程图
                    </div>
                    <div class="col-xl-1 col-sm-1 col-lg-1 col-md-1 col-1">
                        <button mat-button [matMenuTriggerFor]="mainDropdown" class="mt-2">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-2">
                    <!-- work flow buttons -->

                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-info btn-arrow-right">Administrator
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-primary btn-arrow-right">Add Department
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-secondary btn-arrow-right">Add User
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-success btn-arrow-right">Maintainance
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">


                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                    </div>

                </div>
                <div class="row p-2">
                    <!-- work flow buttons -->

                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-info btn-arrow-right">Product Owner
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-primary btn-arrow-right">Add Product
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-secondary btn-arrow-right">Modules
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-success btn-arrow-right">Plans
                        </button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-danger btn-arrow-right">Stories
                        </button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-warning light-yellow btn-arrow-right">Releases
                        </button>
                    </div>




                </div>
                <div class="row p-2">
                    <!-- work flow buttons -->

                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-info btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-primary btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-secondary btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-success btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-danger btn-arrow-right">Danger</button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-warning light-yellow btn-arrow-right">Danger</button>
                    </div>




                </div>
                <div class="row p-2">
                    <!-- work flow buttons -->

                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-info btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-primary btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-secondary btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-success btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-danger btn-arrow-right">Danger</button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-warning light-yellow btn-arrow-right">Danger</button>
                    </div>




                </div>
                <div class="row p-2">
                    <!-- work flow buttons -->

                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <button type="button" class="btn btn-info btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-primary btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-secondary btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-success btn-arrow-right">Danger</button>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-danger btn-arrow-right">Danger</button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">

                        <button type="button" class="btn btn-warning light-yellow btn-arrow-right">Danger</button>
                    </div>




                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="status-monitoring-table">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="task-history-header">最新动态</div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 more-icon">
                        <button style="margin-left: -15px;margin-top: 8px;" mat-button [matMenuTriggerFor]="mainDropdown">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-4">
                    <!-- task history stepper start -->

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 fixed-task-stepper">
                        <input type="text" (click)="openBottomSheet()" placeholder="Click to Add Todo"
                            autocomplete="off" class="form-control">
                    </div>
                    <!-- task history stepper end -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-12">
            <div class="status-monitoring-table">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 task-history-header">
                            流程图
                        </div>
                    </div>
                    <div class="col-xl-1 col-sm-1 col-lg-1 col-md-1 col-1">
                        <button  mat-button [matMenuTriggerFor]="mainDropdown" class="mt-2">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-4 table-ul">
                    <!-- stepper div start -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 welcome-stepper-div">

                        <ul>
                            <li>
                                <a>Test Sprint</a>
                            </li>
                            <li>
                                <a>Zentao Client Desktop</a>
                            </li>
                            <li>
                                <a>About the profile and crea</a>
                            </li>
                            <li>
                                <a>Login through facebook id</a>
                            </li>
                            <li>
                                <a>ALM extension</a>
                            </li>
                            <li>
                                <a>extension exploration</a>
                            </li>
                            <li>
                                <a>Design the operation</a>
                            </li>
                            <li>
                                <a>Pay online module</a>
                            </li>
                            <li>
                                <a>Zsite CMS module</a>
                            </li>
                            <li>
                                <a>Pure water module</a>
                            </li>

                        </ul>
                    </div>
                    <!-- stepper-div-end -->

                    <!-- monitoring numbers start -->
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                       <div class="row">
                           <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                               <img class="ml-2 mt-2" matTooltip="done: 48%" src="../../assets/img/circular chart 1.PNG" alt="">
                           </div>
                           <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                            <img class="ml-2 mt-5" width="100%" src="../../assets/img/progress chart1.PNG" alt="">
                        </div>
                       </div>
                    </div>
                    <!-- monitoring numbers end -->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="status-monitoring-table">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="task-history-header">最新动态</div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 more-icon">
                        <button style="margin-left: -15px;margin-top: 8px;" mat-button [matMenuTriggerFor]="mainDropdown">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-4">
                    <!-- task history stepper start -->

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 fixed-task-stepper mb-4">
                        <div class="row">
                            <div class="col-12">
                                <img src="../../assets/img/progress chart2.PNG" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- task history stepper end -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-12">
            <div class="status-monitoring-table">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 task-history-header">
                            产品统计
                        </div>
                    </div>
                    <div class="col-xl-1 col-sm-1 col-lg-1 col-md-1 col-1">
                        <button mat-button [matMenuTriggerFor]="mainDropdown" class="mt-2">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-4 table-ul">
                    <!-- stepper div start -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 welcome-stepper-div">

                        <ul>
                            <li>
                                <a>IOS/Dancing App</a>
                            </li>
                            <li>
                                <a>Desktop client/Zentao desktop</a>
                            </li>
                            <li>
                                <a>Desktop client/Zentao cloud</a>
                            </li>
                            <li>
                                <a>Desktop client/Taiji App</a>
                            </li>
                            <li>
                                <a>Android/Xuanxuan IM Tool</a>
                            </li>
                            <li>
                                <a>A smart watch development</a>
                            </li>
                            <li>
                                <a>Zsite</a>
                            </li>
                            <li>
                                <a>Zdoo crm</a>
                            </li>
                            <li>
                                <a>BigRocket</a>
                            </li>
                            <li>
                                <a>Pure water module</a>
                            </li>
                        </ul>
                    </div>
                    <!-- stepper-div-end -->

                    <!-- monitoring numbers start -->
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                       <div class="row mt-5">
                           <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                               <div class="row">
                                   <div class="col-12">
                                    <div class="text-center total-story">
                                        Total Stories
                                    </div>
                                   </div>
                               </div>
                               <div class="row p-3">
                                <div class="col-12">
                                 <div class="text-center">
                                     <span class="stories-monitor">10</span>
                                 </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                 <div class="text-center">
                                     <button class="btn btn-rounded btn-primary" style="border-radius: 15px;">See all</button>
                                 </div>
                                </div>
                            </div>
                           </div>
                           <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                            <img class="ml-2" width="100%" src="../../assets/img/progress chart1.PNG" alt="">
                        </div>
                       </div>
                    </div>
                    <!-- monitoring numbers end -->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="status-monitoring-table">
                <div class="row">
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="task-history-header">最新动态</div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 more-icon">
                        <button style="margin-left: -15px; margin-top: 8px;" mat-button [matMenuTriggerFor]="mainDropdown">
                            <mat-icon matTooltip="Edit widget">drag_indicator</mat-icon>
                        </button>
                        <mat-menu #mainDropdown="matMenu">
                            <button mat-menu-item>Refresh</button>
                            <button mat-menu-item>Edit</button>
                            <button mat-menu-item>Hide</button>
                            <button mat-menu-item>Add Block</button>
                            <button mat-menu-item>Reset Layout</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="row p-4">
                    <!-- task history stepper start -->

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 fixed-task-stepper mb-4">
                        <div class="row">
                            <div class="col-12">
                                <img style="padding: 4%;" matTooltip="Products: 10" src="../../assets/img/circular chart 2.PNG" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- task history stepper end -->
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mat-table pr-0">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="s">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> S </th>
                  <td mat-cell *matCellDef="let element">  <span class="status2">{{element.s}}</span> </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
        </div>
    </div>
</div>