<mat-vertical-stepper #stepper>
 <div matTooltip="test">
  <mat-step>
    <ng-template matTooltip="test" matStepLabel>Demo opened Release v0.1
    </ng-template>
    
  </mat-step>
 </div>
    <mat-step> <ng-template matStepLabel>Demo opened Product WTS Test Product</ng-template>
  
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Demo login</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Demo login</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Demo login</ng-template>
      </mat-step>
     
      <mat-step>
        <ng-template matStepLabel>Demo assigned Task Design the API to ...</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Demo login</ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Demo assigned Task Design the API to check</ng-template>
      </mat-step>
  </mat-vertical-stepper>